*{
    font-family: sans-serif;
    text-align: center;
}

.container-fluid{
    background-image: url("/images/stairs.jpg");
    background-size: 100%;
    height: 845px;
    background-repeat: no-repeat;
    color: white;
   
}
.logo{
    padding-top: 267px;
    padding-left: -50px;
}
.mouse{
    padding-top: 180px;
}
.container-fluid h1{
    padding-top: 26px;
    font-weight: 150;
    font-size: 50px;
}
.about{
    color: black;
    padding-top: 60px;
}
.services{
    background-image: url("/images/desk.jpg");
    margin-top: 70px;
    padding: 120px;
    padding-right: 240px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.what-we-do{
  margin-top: 50px;
}
.portfolio{
    margin-top: 80px;
}
.portfolio img{
    margin: 20px;
}
/* exra class to help in styling last work photo different from others */
.work8{
    position: relative;
    left: 1070px;
    top: -220px;
    color: white;
    background-image: url("/images/work8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    padding: 20px;
}
.move{
    position: relative;
    right: 145px;
}
.h4{
    border: 4px solid white;
    text-align: left;
    padding: 5px;
    height: 160px;
    width: 210px;
}
/* text aligned correctly */
.contact{
    margin-top: -200px;
    background-image: url("/images/machine.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-right: 180px;
    height: 540px;
    color: white;
}
/* for all placeholders */
input{
    background-color: transparent;
    border: 1px solid white;
    width: 500px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
/* affects all place holders */
::placeholder {
    color: white;
    text-align: left;
  }
  /* for message input */
  .height{
      height: 250px;
      width: 1000px;
      margin-left: 50px;
  }
   