*{
    font-family: sans-serif;
    text-align: center;
}

.container-fluid{
    background-image: url("/images/stairs.jpg");
    background-size: 100%;
    height: 845px;
    background-repeat: no-repeat;
    color: white;
   
}
.logo{
    padding-top: 267px;
    padding-left: -50px;
}
.mouse{
    padding-top: 180px;
}
.container-fluid h1{
    padding-top: 26px;
    font-weight: 150;
    font-size: 50px;
}
.about{
    color: black;
    padding-top: 60px;
}