*{
    font-family: sans-serif;
    text-align: center;
    margin: -5px;
    padding: 0px;
    background-size: auto;
}
/* thi container is for bootstrap */
.container-fluid{
    background-image: url("./images/stairs.jpg");
    background-size: 100%;
    height: 845px;
    background-repeat: no-repeat;
    color: white;
   
}
.delani{
    position: relative;
}

.delani2{
    position: relative;
}


.logo{
    padding-top: 267px;
    padding-left: -50px;
}
.mouse{
    padding-top: 180px;
}
.container-fluid h1{
    padding-top: 26px;
    font-weight: 150;
    font-size: 50px;
}
.about{
    color: black;
    padding-top: 60px;
}
.services{
    background-image: url("./images/desk.jpg");
    margin-top: 70px;
    padding: 120px;
    padding-right: 240px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

#show2, #show3, #show4{
  display: none;
}
.portfolio{
    margin-top: 80px;
    padding: 300px;
}


.h4{
    border: 4px solid white;
    text-align: left;
    padding: 5px;
    height: 160px;
    width: 210px;
}
/* text aligned correctly */
.contact{
    margin-top: 100px;
    background-image: url("./images/machine.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-right: 180px;
    height: 540px;
    color: white;
}
/* for all placeholders */
input{
    background-color: transparent;
    border: 1px solid white;
    width: 500px;
    justify-content: left;
    padding-left: 30px;
}

/* affects all place holders */
::placeholder {
    color: white;
    text-align: left;
    padding-top: 0px;
    
  }
  /* for message input */
  .height{
      height: 250px;
      width: 1000px;
      border: 1px solid white;
      margin-left: 50px;
      background-color: transparent;
  }
  .social{
      margin-top: 40px;
  }
  .social img{
      margin: 10px;
  }
  .toggle{
    display: block;
    margin-left: 180px;
  }
  .container2{
      /* margin-left: -5px; */
  }
   .container0 img{
     max-width: 100%;  
   }
   .container2 img{
    max-width: 100%;  
    /* margin-top: 40px; */
  }
  .container0 img{
    width: 100%;  
    
    /* margin-left: -10; */
  }
   .box{
    position: relative;
   }

   .overlay{
    color: white;
    text-align: left;
    opacity: 0.5;
    border: 3px solid white;
    background-color: black;
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    position: absolute;
    height: 200px;
    width: 200px;
    font-weight: bolder;
    top: 30%;
    left: 35%;
    text-transform: uppercase;
}
  #message{
      margin-right: 45px;
  }
  button{
      padding: 3px 40px;
      font-weight: bolder;
      border-radius: 10px;
      border: 0px;
      background-color: aqua;
  }
  /* .gallery{
      margin-top: 100px;
      margin-left: 30px;
  } */